:root {
    /* Shared variables */
    --mainFont: 'Noto Sans TC', sans-serif;
    --colourMalachite: #20BF55;
    --colourDarkImperialBlue: #0B4F6C;
    --colourCyan: #01BAEF;
    --colourGhostWhite: #FBFBFF;
    --colourSonicSilver: #757575;
    --backgroundColour: #181818;
    --searchBarHighlightColour: rgb(180, 180, 180);
    --unselectedLabelsColour: rgb(120, 120, 120);
    --searchBarVerticalOffset: 25vh;
    --searchBarHorizontalOffset: 50vw;

    /* searchBar variables */
    --searchBarWidthsize: 800px;
    --searchBarHeightsize: 50px;
}

body {
    background-color: var(--backgroundColour);
    font-family: var(--mainFont);
    overflow: hidden;
    background: var(--backgroundColour);
    background-image: url("background.png");
    background-image: url("background.png"), linear-gradient(#ffffff 25%, #555555 75%);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    background-position: center;
}

::-webkit-input-placeholder {
    font-size: 12px;
}

/* Top Assets */

#topAssets, #topAssetsBody {
    position: absolute;
    color: var(--colourGhostWhite);
    background-color: transparent;
}

#topAssetsBody {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 45vh;
    font-family: 'Raleway', sans-serif;
    margin-left: 50px;
}

.topAssetsType {
    margin-left: 25px;
}

#topAssetsBody1 {
    margin-left: 50px;
}

#topAssetsBody3 {
    margin-right: 50px;
}

#topAssets {
    margin-top: 36vh;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    margin-left: 5vw;
}

#topAssetsDivider0 {
    width: 95vw;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    margin-top: 41vh;
    margin-left: 2.5vw;
}

.topAssetsDivider1, .topAssetsDivider2, .topAssetsDivider3 {
    height: 1px;
    background-color: var(--colourSonicSilver);
    margin-top: 15px;
    width: calc(15vw + 150px);
}

.topAssetsDivider1 {
    margin-left: calc(-0.43 * (15vw + 150px) + 30.91px);
}

.topAssetsDivider2 {
    margin-left: calc(-0.43 * (15vw + 150px) + 50.11px);
}

.topAssetsDivider3 {
    margin-left: calc(-0.43 * (15vw + 150px) + 81.45px);
}

.topAssetsAsset1, .topAssetsAsset2, .topAssetsAsset3 {
    display: flex;
    width: calc(15vw + 150px);
    text-align: left;
    font-size: 14px;
    /* margin-top: 5px; */
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: transparent;
    cursor: pointer;
    margin-left: 50px;
    /* border-radius: 5px; */
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    transition: 0.2s;
}

.topAssetsAsset1 {
    margin-left: calc(-0.5 * (15vw + 100px) + 30.91px);
}

.topAssetsAsset2 {
    margin-left: calc(-0.5 * (15vw + 100px) + 50.11px);
}

.topAssetsAsset3 {
    margin-left: calc(-0.5 * (15vw + 100px) + 81.45px);
}

.topAssetsAsset1:hover, .topAssetsAsset2:hover, .topAssetsAsset3:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transition: 0.2s;
}

.topAssetsColourType1, .topAssetsColourType2, .topAssetsColourType3 {
    margin-left: 20px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-top: 8px;
}

.topAssetsColourType1 {
    background-color: var(--colourCyan);
}

.topAssetsColourType2 {
    background-color: #20BF55;
}

.topAssetsColourType3 {
    background-color: #eaee00;
}

.topAssetsShortName {
    width: 60px;
    padding-left: 10px;
    padding-top: 8px;
}

.topAssetsLongName {
    width: calc(15vw - 60px);
    padding-left: 10px;
    padding-top: 8px;
}

.topAssetsPrice {
    width: 90px;
    text-align: center;
    padding-top: 8px;
    /* z-index: 6; */
    border-radius: 5px;
    height: 25px;
    /* margin-top: -5px; */
    /* padding-right: 10px; */
}

/* Search Bar */

#searchBarDiv {
    position: absolute;
    margin-left: calc(var(--searchBarHorizontalOffset) - 0.5 * var(--searchBarWidthsize));
    margin-top: calc(var(--searchBarVerticalOffset) - 0.5 * var(--searchBarHeightsize));
    z-index: 2;
}

#searchBar {
    width: var(--searchBarWidthsize);
    height: var(--searchBarHeightsize);
    border-radius: 25px;
    border: 1px solid var(--searchBarHighlightColour);
    outline: none;
    font-size: 20px;
    font-family: var(--mainFont);
    padding-left: 48px;
    padding-right: 20px;
    padding-bottom: 7px;
    background-color: transparent;
    color: var(--colourGhostWhite);
    transition: 0.3s;
}

#searchIcon {
    position: absolute;
    margin-left: calc(-0.98 * var(--searchBarWidthsize));
    margin-top: 12px;
    cursor: text;
    z-index: -1;
}

#searchDivider {
    width: calc(0.95 * var(--searchBarWidthsize));
    height: 1px;
    background-color: var(--searchBarHighlightColour);
    position: absolute;
    margin-left: calc(var(--searchBarHorizontalOffset) - 0.475 * var(--searchBarWidthsize));
    margin-top: calc(var(--searchBarVerticalOffset) + 0.5 * var(--searchBarHeightsize));  
    z-index: -2;
    opacity: 0;
}

#options {
    width: var(--searchBarWidthsize);
    height: 0px;
    border-radius: 25px;
    border: none;
    background-color: transparent;
    position: absolute;
    overflow-y: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px;
}

/* Labels & Dropdown */
.labels {
    display: flex;
    position: absolute;
    margin-top: -45px;
    margin-left: 45px;
    color: var(--unselectedLabelsColour);
    width: 300px;
    justify-content: space-between;
    font-weight: bold;
}

#stocks, #currency, #cryptocurrency {
    transition: 0.2s;
}

#stocks:hover, #currency:hover, #cryptocurrency:hover {
    cursor: pointer;
    color: var(--colourGhostWhite);
    transition: 0.2s;
}

.dropdownElementMaster {
    display: flex;
    justify-content: flex-start;
    width: calc(var(--searchBarWidthsize) - 64px);
    color: var(--colourGhostWhite);
    padding-left: 60px;
    height: 36px;
    cursor: pointer;
    padding-top: 13px;
    border-radius: 25px;
    font-size: 14px;
    margin-left: 2px;
    margin-top: 1px;
}

#itemIcon {
    width: 16px;
    height: 16px;
    border: none;
    border-radius: 50%;
    background-color: var(--colourCyan);
    position: absolute;
    margin-left: -36px;
    margin-top: 3px;
    opacity: 70%;
}

#itemShortName {
    width: 100px;
}

#itemLongName {
    width: 575px;
}

#noResultsFoundText {
    color: var(--colourGhostWhite);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding-left: calc(var(--searchBarWidthsize) / 2 - 125px);
}

/* Asset Overlay */
#assetOverlayFilter {
    position: absolute;
    width: 200vw;
    height: 200vh;
    background-color: rgba(0, 0, 0, 0.4);
    margin: -8px;
    margin-top: calc(-8px - 200vh);
    z-index: 0;
}

#assetOverlay {
    position: absolute;
    width: calc(20vw + 1000px);
    height: calc(40vh + 400px);
    background-color: var(--backgroundColour);
    border-radius: 25px;
    margin-left: calc(40vw - 500px);
    /* margin-top: calc(40vh - 300px); */
    margin-top: calc(-100vh);
    z-index: 2;
}

#backButton {
    cursor: pointer;
    position: absolute;
    margin-top: 24px;
    margin-left: 24px;
    border-radius: 50%;
    background-color: transparent;
    transition: 0.3s;
    z-index: 5;
}

#backButton:hover {
    transition: 0.3s;
    background-color: #242424;
}

#assetOverlayAssetName {
    color: var(--colourGhostWhite);
    position: absolute;
    margin-left: 91px;
    margin-top: 24px;
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

#assetOverlayAssetPrice {
    color: var(--colourGhostWhite);
    margin-top: 24px;
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
    text-align: right;
    font-weight: bold;
    margin-left: calc(20vw + 886px);
    position: absolute;
}

#assetOverlayRange {
    display: flex;
    color: var(--colourGhostWhite);
    position: absolute;
    margin-top: calc(40vh + 140px);
    z-index: 2;
    font-family: 'Open Sans', sans-serif;
}

.assetOverlayRangeOptions, .assetOverlayRangeOptionsCalc {
    width: auto;
    cursor: pointer;
    background-color: transparent;
    transition: 0.2s;
    border-radius: 10px;
    padding-right: 30px;
    color: var(--searchBarHighlightColour);
}

#assetOverlayRangeOptions2 {
    color: var(--colourGhostWhite);
    font-weight: bold;
};

.assetOverlayRangeOptions:hover, .assetOverlayRangeOptionsCalc:hover {
    color: var(--colourGhostWhite);
    transition: 0.2s;
}

#assetOverlayRangeOptions1 {
    margin-left: calc(20vw + 90px);
}

#assetOverlayRangeCalculatorLabel {
    margin-left: 120px;
    color: var(--colourCyan);
    font-weight: bold;
    cursor: default;
}

#assetOverlayRangeCalculatorOptions2 {
    font-weight: bold;
    color: var(--colourGhostWhite);
}

.ct-grids line {
    color: var(--colourGhostWhite);
    stroke: transparent;
}

.ct-series-a .ct-line, .ct-series-a .ct-point {
    /* Set the colour of this series line */
    stroke: var(--colourCyan);
    /* Control the thikness of your lines */
    stroke-width: 2px;
}

.ct-series-a .ct-area, .ct-series-b .ct-area {
    fill: url(#MyGradient1);
}

#chartHighlighter {
    height: 345px;
    width: 2px;
    background-color: transparent;
    position: absolute;
    margin-top: 75px;
    border-radius: 2px;
}

#chartHighlighterPrice {
    width: 75px;
    text-align: center;
    color: var(--colourCyan);
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

#assetOverlayRangeCalculatorDivider {
    width: calc(20vw + 815px);
    margin-left: 100px;
    height: 1px;
    background-color: var(--colourSonicSilver);
    position: absolute;
    margin-top: calc(40vh + 110px);
}

#assetOverlayCostQuantity, #assetOverlayCostPrice, #assetOverlayProfitQuantity, #assetOverlayProfitCost, #assetOverlayProfitCurrency, #assetOverlayProfitDate {
    width: 75px;
    height: 45px;
    background-color: transparent;
    border: 1px solid var(--unselectedLabelsColour);
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0px;
    color: var(--colourGhostWhite);
    outline: none;
    font-size: 16px;
    padding: 8px 10px 0px 10px;
    transition: 0.2s;
    font-family: 'Montserrat', sans-serif;
}   

#assetOverlayCostQuantity:hover, #assetOverlayCostQuantity:focus, #assetOverlayProfitQuantity:hover, #assetOverlayProfitQuantity:focus, #assetOverlayProfitCost:hover, #assetOverlayProfitCost:focus, #assetOverlayProfitCurrency:hover, #assetOverlayProfitCurrency:focus, #assetOverlayProfitDate:hover, #assetOverlayProfitDate:focus {
    border: 1px solid var(--colourGhostWhite);
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0px;
    transition: 0.2s;
}

.assetOverlayCostQuantityLabel, .assetOverlayProfitQuantityLabel {
    position: absolute;
    color: var(--colourGhostWhite);
    margin-left: 5px;
    margin-top: -10px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    background-color: var(--backgroundColour);
}

#assetOverlayCostQuantityLabel2, #assetOverlayProfitQuantityLabel2, #assetOverlayProfitQuantityLabel3, #assetOverlayProfitQuantityLabel4 {
    margin-top: -55px;
    margin-left: 120px;
    width: 150px;
}

#assetOverlayProfitQuantityLabel3 {
    margin-left: 270px;
}

#assetOverlayProfitQuantityLabel4 {
    margin-left: 445px;
}

#assetOverlayCostQuantityLabel3, #assetOverlayProfitQuantityLabel5 {
    margin-top: 25px;
}

#assetOverlayCostPrice, #assetOverlayProfitCost, #assetOverlayProfitCurrency, #assetOverlayProfitDate {
    margin-left: 40px;
    width: 100px;
}

#assetOverlayProfitCost {
    width: 110px;
}

#assetOverlayProfitCurrency {
    width: 130px;
    text-transform: uppercase;
}

.assetOverlayCost, .assetOverlayProfit {
    margin-top: calc(40vh + 200px);
    position: absolute;
    margin-left: 140px;
    z-index: 5;
}

.assetOverlayProfit {
    opacity: 0;
    z-index: 2;
}

.assetOverlayCost {
    z-index: 5;
}

/* Currency */
.searchCurrency {
    padding-top: 15px;
    position: absolute;
    z-index: 1;
}

#searchCurrency {
    text-align: center;
    margin-left: calc(100vw - 90px);
    width: 60px;
    height: 35px;
    border: 1px solid var(--colourGhostWhite);
    border-radius: 12.5px;
    cursor: pointer;
    font-weight: bold;
    position: absolute;
    z-index: -1;
}

.searchCurrencyList {
    opacity: 0;
    font-size: 12px;
    margin-left: calc(100vw - 89px);
    padding-left: 19px;
    height: 27px;
    width: 41px;
    padding-top: 8px;
    transition: 0.2s;
    z-index: 5;
    cursor: default;
    color: var(--unselectedLabelsColour);
    background-color: var(--backgroundColour);
}

#searchCurrencyList1 {
    opacity: 1;
    cursor: pointer;
    display: block;
    color: var(--colourGhostWhite);
    background-color: transparent;
}

#searchCurrencyList-1 {
    border-radius: 0px 0px 20px 20px;
}