:root {
    /* Shared variables */
    --mainFont: 'Noto Sans TC', sans-serif;
    --colourMalachite: #20BF55;
    --colourDarkImperialBlue: #0B4F6C;
    --colourCyan: #01BAEF;
    --colourGhostWhite: #FBFBFF;
    --colourSoniceSilver: #757575;
    --backgroundColour: #121212;
    --searchBarVerticalOffset: 30vh;
    --searchBarHorizontalOffset: 50vw;

    /* searchBar variables */
    --searchBarWidthsize: 800px;
    --searchBarHeightsize: 50px;
}

body {
    background-color: var(--backgroundColour);
    font-family: var(--mainFont);
}

#searchBarDiv {
    position: absolute;
    margin-left: calc(var(--searchBarHorizontalOffset) - 0.5 * var(--searchBarWidthsize));
    margin-top: calc(var(--searchBarVerticalOffset) - 0.5 * var(--searchBarHeightsize));
}

#searchBar {
    width: var(--searchBarWidthsize);
    height: var(--searchBarHeightsize);
    border-radius: 25px;
    border: 1px solid rgb(180, 180, 180);
    outline: none;
    font-size: 20px;
    font-family: var(--mainFont);
    padding-left: 48px;
    padding-right: 20px;
    padding-bottom: 7px;
    background-color: transparent;
    color: var(--colourGhostWhite);
    transition: 0.125s;
}

#searchBar:focus, #searchBar:hover {
    border: 1.5px solid var(--colourCyan);
    transition: 0.125s;
    box-shadow: var(--colourCyan) 0px 0px 8px 0px;
}

#searchIcon {
    position: absolute;
    margin-left: calc(-0.98 * var(--searchBarWidthsize));
    margin-top: 12px;
    cursor: text;
    z-index: -1;
}

#searchDivider {
    width: calc(0.95 * var(--searchBarWidthsize));
    height: 1px;
    background-color: rgb(180, 180, 180);
    position: absolute;
    margin-left: calc(var(--searchBarHorizontalOffset) - 0.475 * var(--searchBarWidthsize));
    margin-top: calc(var(--searchBarVerticalOffset) + 0.5 * var(--searchBarHeightsize));  
    z-index: -1;
    opacity: 0;
}